<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-brand">
                <img src="src/assets/img/hero/logo_del_centro.png" alt="Logo La Luz y Esperanza" class="footer-logo-img" loading="lazy">
            </div>
            <div class="footer-social">
                <a href="https://www.facebook.com/CENTRODEREHABILITACIONLALUZYESPERANZAQUENECESITO" target="_blank" class="social-btn facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://wa.me/522871520875?text=Hola%2C%20vengo%20de%20su%20sitio%20web.%20Necesito%20informaci%C3%B3n%20y%20ayuda%20sobre%20el%20internamiento." target="_blank" class="social-btn whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
            <div class="footer-links">
                <a href="#inicio">Inicio</a>
                <a href="#metodo">Método</a>
                <a href="#contacto">Contacto</a>
            </div>
            <p class="copyright">© 2025 Centro de Rehabilitación La Luz y La Esperanza Que Necesito. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<div id="modal-posada" class="modal-overlay">
    <div class="modal-content">
        <button id="close-modal-btn" class="modal-close">×</button>
        <div class="modal-body">
            <img src="src/assets/img/actividades/eventos/posada_20_12_2025.png" alt="Aviso Importante" class="modal-image" fetchpriority="high">
        </div>
    </div>
</div>

<a href="https://wa.me/522871520875?text=Hola%2C%20vengo%20de%20su%20sitio%20web.%20Necesito%20informaci%C3%B3n%20y%20ayuda%20sobre%20el%20internamiento." class="whatsapp-float" target="_blank">
    <i class="fab fa-whatsapp"></i>
</a>