<section id="inicio" class="hero-section">
    <div class="hero-overlay"></div>
    <img src="src/assets/img/hero/fachada_principal.jpeg" alt="Fachada Centro de Rehabilitación" class="hero-bg-img" fetchpriority="high" loading="lazy">

    <div class="container hero-content">
        <div class="badge-christmas"><i class="fas fa-star"></i> Atención Profesional y Humana</div>
        <h1>Centro de Rehabilitación <br><span class="highlight">La Luz y La Esperanza Que Necesito</span></h1>
        <p class="hero-subtitle">En Tres Valles, Veracruz, ofrecemos un refugio seguro donde la ciencia médica, la psicología y la fortaleza espiritual se unen para vencer las adicciones y recuperar a tu familia.</p>
        <div class="hero-buttons">
            <a href="#contacto" class="btn btn-gold pulse-effect">Solicitar Ayuda</a>
            <a href="tel:2871520875" class="btn btn-outline-light"><i class="fas fa-phone"></i> Llamada 24/7</a>
        </div>
    </div>
</section>
