* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text);
    line-height: 1.6;
    background-color: var(--white);
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-head);
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

/* Clases Utilitarias */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-padding {
    padding: 80px 0;
}

.text-center {
    text-align: center;
}

.text-white {
    color: var(--white) !important;
}

.bg-light {
    background-color: var(--bg-light);
}

.highlight {
    color: var(--gold);
}

.w-100 {
    width: 100%;
}

.mt-5 {
    margin-top: 3rem;
}

.shadow-lg {
    box-shadow: var(--shadow);
}